<%- include('partials/header'); -%>

  <header>
    <div class="smoothie">
      <img src="/user.png" alt="">
    </div>
    <div class="headings">
      <h2>Data diri</h2>
      <p><b>Email:</b>
      <div id="email">
        <%= user.email %>
      </div>
      </p>
      <a href="/update" class="btn">Update Email</a>
      <a href="/remove" class="btn">Remove Account</a>
    </div>
  </header>



  <%- include('partials/footer'); -%>